/* ------------------------------------------
/*  layout.css
/*  -- 配置に関するStyle
/* --------------------------------------- */

/* uniFormの設定 */
.uniform {
    width: 90%;
    }
.uniForm legend {
    font-size: 138.5%;
    }
.uniForm .formHint .error {
    color : #FF7777;
    }
.uniForm .buttonHolder {
    margin-right: 46%;
    }

form > fieldset {
    border: 0px;
    }

/* --- COMMON --- */
/* ナビゲーション */
nav ul { margin: 0px; }
nav li {
    display: inline;
    list-style: none;
}

/* ヘッダ */
h1 {
  font-family:"Times New Roman", Times, FreeSerif, serif;
  font-weight: bold;
  font-size: 197%;
  letter-spacing: 8px;
}

h2 {
    position: relative;
    top: -75px; 
    color: #fff;
    font-family:"Times New Roman", Times, FreeSerif, serif;
    font-size: 182%;
    letter-spacing: 4px;
    text-align: left;
}
h3 {
    margin-top: 1em;
    margin-bottom: .5em;
    padding: .5em .5em;
    font-size: 131.0%;
}
h4 {
    margin-top: 1em;
    font-size: 108%;
}

/* 初期化 */
p { margin: 0 }

/* ユーティリティ */
article > p {text-indent: .5em;}
.button {
    padding: .6em .8em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.text-right {
    text-align: right;
}

.menu {margin:0}
.menu li { display: inline; list-style: none; }
.menu li:before {content: '['}
.menu li:after {content: ']'}

/* --- BASE --- */
#container {
    position: relative;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
}
*html #container { height: 100%; } /* IE6までのhack */

/* --- HEADER --- */
#global-header {
    width: auto;
    margin-left: 1em;
    padding: 13px 0px;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-right: 40px;
}
    #global-header > p {
        margin: 0;
        font-size: 93%;
        letter-spacing: 0.5em;
    }
#global-nav {
    width: auto;
    margin: 0;
    text-align: right;
    font-size: 93%;
    letter-spacing: 0.5em;
}
    #global-nav > ul {
        margin: 0;
        padding: 0 1em;
        line-height: 50px;
        letter-spacing: 2px;
        display: relative;
        z-index: 2;
    }
    #global-nav .here {
        font-family:"Times New Roman", Times, FreeSerif, serif;
        letter-spacing: 4px;
        float: left;
        font-size: 182%;
        text-align: left;
    }
    #global-nav .here:hover {
        background: none;
    }
    #global-nav .here:after {
        content: '';
        clear: both;
    }

/* --- MAIN --- */
section {
    margin-top: 2em;
    padding-bottom: 3em;
}

section > article,
section > form {
    padding: 1em;
}

/* --- FOOTER --- */
#global-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
}
    #global-footer p {
      width: 100%;
      text-align: center;
      padding-top: 4px;
      height: 2em;
      font-size: 85%;
      letter-spacing: 0.5em;
    }

